.header-logo {
  background-color: #cccccc;
  padding: 20px 0px;
}

.img-nav {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

.nav-header {
  position: absolute;
  top: 110px;
  right: 0%;
}

.nav-header li {
  display: inline;
  margin: 0 0 0 15px;
}

.nav-header a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.nav-header a:hover {
  color: #c78c19;
  text-decoration: underline;
}

main {
  width: 940px;
  margin: 0 auto;
}

.formulario {
  margin: 40px 0px;
}

.formulario label,
.formulario p {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.formulario .input-padrao,
.formulario .textarea-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.formulario .checkbox {
  margin: 20px 0;
}

footer {
  padding: 20px 0px;
  text-align: center;
  background: url("img/bg.jpg");
}

.copyright {
  margin-top: 20px;
  font-size: 13px;
  color: white;
}
