.header-logo {
  background-color: #cccccc;
  padding: 20px 0px;
}

.img-nav {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

.nav-header {
  position: absolute;
  top: 110px;
  right: 0%;
}

.nav-header li {
  display: inline;
  margin: 0 0 0 15px;
}

.nav-header a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.nav-header a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.banner {
  width: 100%;
}

.principal {
  background-color: #fefefe;
}

.principal .conteudo-principal {
  width: 940px;
  margin: 0 auto;
  padding: 3em 0;
}

.principal .conteudo-principal p {
  /*1em criará uma margem proporcional ao tamanho da fonte principal*/
  margin: 0 0 1em;
}

.principal .conteudo-principal .utensilios {
  width: 120px;
  margin: 0 20px 20px 0;
  float: left;
}

.principal .conteudo-principal em {
  font-style: italic;
}

.principal .conteudo-principal em strong {
  font-weight: bold;
}

.titulo-central {
  text-align: center;
  /*2em tornará o font-size sempre com o tamanho dobrado do font-size principal, se por padrão era 10px, com o 2em ele vira 20px, o mesmo valerá para a margin*/
  font-size: 2em;
  margin: 0 0 1em;
  /*Serve para limpar o float, no caso o flaot a esquerda que foi utilizado em utensilios*/
  clear: left;
}

/* transforma a primeira letra em negrito
.titulo-central:first-letter {
  font-weight: bold;
} */

.titulo-central:before {
  content: "[ ";
}

.titulo-central:after {
  content: " ]";
}

/*transforma a primeira linha em negrito
.titulo-central:first-line {
  font-weight: bold;
}*/

.mapa {
  padding: 3em 0;
  /* Esse gradient seria um exemplo dele em 45 graus, indo com laranja até 50% do total e o resto sendo dividido entre blue, red e black.
  background: linear-gradient(45deg, orange 50%, blue, red, black);
  */
  background: linear-gradient(#fefefe, #888888);
}

.mapa .mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.beneficios {
  background-color: #888888;
  padding: 3em 0;
}

.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
}

.lista-beneficios {
  display: inline-block;
  vertical-align: top;
  /*Inline block 40% aqui e 60% no img-beneficios só vai funcionar se o html ul/img estiverem coaldinhos, caso exista qualqeur espaço entre eles ou quebra de linha, ele não funcionará com o somatorio 100%, mas sim com 99%*/
  width: 40%;
}

.item-beneficios {
  line-height: 1.5;
}

.item-beneficios:before {
  content: "★ ";
}

/*Seleciona o primeiro elemento de uma lista*/
.item-beneficios:first-child {
  font-weight: bold;
}
/* Seleciona o ultimo elemento de uma lista
.item-beneficios:last-child {
  font-weight: bold;
}
Seleciona qualquer elemento de uma lista que seja par
.item-beneficios:nth-child(2n) {
  font-weight: bold;
} 
Seleciona qualquer elemento de uma lista, colocando dentro de nth-child a posição do elemento
.item-beneficios:nth-child(4) {
  font-weight: bold;
}
*/

.img-beneficios {
  width: 60%;
}

.video-home {
  /*Assim eu centralizo o vídeo, pois diminui o tamanho que a div irá ocupar na tela e depois botar as margens para o lado automaticas, centralizando ele assim*/
  width: 560px;
  margin: 1em auto;
}

footer {
  padding: 20px 0px;
  text-align: center;
  background: url("img/bg.jpg");
}

.copyright {
  margin-top: 20px;
  font-size: 13px;
  color: white;
}
