body {
  margin: 0px;
}

.principal {
  background-color: #cccccc;
  padding: 30px;
}

.banner {
  width: 100%;
}

.titulo-principal {
  padding-left: 20px;
}

.titulo-central {
  text-align: center;
}

p {
  text-align: center;
}

.p-2 {
  font-size: 25px;
}

em strong {
  color: red;
}

.lista-beneficios {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.beneficios {
  background-color: #ffffff;
  padding: 20px;
}

.item-beneficios {
  font-style: italic;
}

.img-beneficios {
  width: 50%;
}
